<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.68.0" />
  <package id="Google.Apis.Auth" version="1.68.0" manuallyInstalled="true" />
  <package id="Google.Apis.Core" version="1.68.0" />
  <package id="MySqlConnector" version="2.2.7" manuallyInstalled="true" />
  <package id="NModbus4" version="2.1.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SSH.NET" version="2024.0.0" manuallyInstalled="true" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="ZstdSharp" version="0.7.2" manuallyInstalled="true" />
</packages>